/* Calendar */
#container {
  height: 800px;
  width: 80%;
  background: #abe59a;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px auto;
  position: relative;
}

#top {
  height: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #6be78e;
  border: 0.5px solid;
}

#title {
  display: flex;
  margin: 0;
  justify-content: center;
  line-height: 100px;
  font-size: 50px;
  word-spacing: 15px;
  letter-spacing: 5px;
  color: aliceblue;
  text-shadow: 0.8px 0.1px #261b1b;
}

#bottom {
  height: 689px;
  width: 99.2%;
  margin: 5px auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #6be78e;
}

#week {
  display: flex;
  justify-content: space-around;
  background: azure;
  padding: 9px;
}

.rows {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
  flex-wrap: wrap;
}

.columns {
  padding: 5px 0px 0px 5px;
  height: 145px;
  width: 13.4%;
  background: azure;
  border-radius: 16px;
  cursor: pointer;
  margin: 5px;
}
/* Add event Form & Day View*/

#addEventForm {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 10;
}

.hoverable {
  width: 100% !important;
  margin-left: 0px !important;
  left: auto !important;
  right: auto !important;
  max-height: 542px;
  overflow: overlay;
}

#closeForm,
#closeDayView {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 300;
}
#closeForm:hover {
  color: #50b2af;
  font-weight: 600;
  text-shadow: 0.8px 0.4px #261b1b;
}
.addEvent {
  letter-spacing: 5px !important;
  font-size: 30px !important;
  text-align: center !important;
}

/* Day View */
#dayView {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 10;
  width: 68%;
  background: #5f407e;
  max-height: 578px;
}

.dayViewCol {
  line-height: 27px;
}

/* Events Short Info*/
.eventShortInfo {
  font-size: 12px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: whitesmoke;
  padding: 2px;
  border-radius: 7px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.shortDescription {
  font-family: "Black Han Sans", sans-serif;
  font-weight: bolder;
}

.moreEvents {
  text-align: center;
  font-size: 14px;
  margin: 6px;
}

.moreEvents:hover {
  color: rgb(56, 139, 126);
  text-shadow: 0.8px 0.1px #261b1b;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  animation: beat 1s linear infinite;
}

@keyframes beat {
  50% {
    opacity: 0;
  }
}
